* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

body {
  padding-bottom: 30px;
}

.header-bg {
  background-color: #e5e5e5;
}

.wrapper {
  max-width: 900px;
}

.main-bg {
  background: #a54336;
}

@media (max-width: 576px) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .img-custom {
    width: 50%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .img-custom {
    width: 50%;
  }
}
