* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-main {
  background-image: linear-gradient(#6ea8fe, #7234e2);
}

.app-container {
  max-width: 900px;
}

@media (max-width: 576px) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .img-custom {
    width: 50%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .img-custom {
    width: 50%;
  }
}
