* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

/* App */
.app {
  background-color: rgb(243 243 243);
  padding: 20px 40px;
}

.left-aside {
  width: 20%;
}

.app-container {
  background-color: #fff;
  height: 88.5vh;
  width: 70%;
  border-radius: 10px;
}

.category ul {
  list-style: none;
  padding-left: 0;
  font-weight: normal;
  line-height: 2;
}

.category ul li:hover {
  cursor: pointer;
  border: 1px solid rgb(95 109 235);
  border-radius: 5px;
  padding-left: 15px;
}

.bg-indigo {
  background-image: linear-gradient(#6ea8fe, #660ff1);
}

.bg-header {
  background-color: #052c65;
}

@media (max-width: 576px) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .img-custom {
    width: 50%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .img-custom {
    width: 50%;
  }
}
