* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

body {
  padding-bottom: 30px;
}

.header-bg {
  background-color: #e5e5e5;
}

.wrapper {
  max-width: 900px;
}
