* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

body {
  background-image: url("./assets/Rectangle 1000601.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  /* background: rgb(34 9 121);
  background:
    linear-gradient(
      0deg,
      rgb(34 9 121 / 100%) 0%,
      rgb(41 21 131 / 100%) 16%,
      rgb(57 48 155 / 100%) 36%,
      rgb(77 82 185 / 100%) 54%,
      rgb(116 150 246 / 100%) 96%
    )
    no-repeat; */
  min-height: 100vh;
  padding-bottom: 30px;
}

.header-bg {
  background-color: #e5e5e5;
}

.wrapper {
  max-width: 900px;
}

.main-bg {
  background: #a54336;
}

@media (max-width: 576px) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 576px) {
  .img-custom {
    width: 50%;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  .img-custom {
    width: 25%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .img-custom {
    width: 50%;
  }
}
